body {
    background-color: rgb(155, 166, 173);
}

header {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(80, 76, 55);
    text-align: center;
    background-color: rgb(191, 198, 197);
    padding: 0.5% 0% 0.5% 0%;
    margin-bottom: 0.5%;
}